################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp/UnityLockfile
/Temp/UnityTempFile-fdbec9a7972586848938fe7f959625e7
